@keyframes underline {
  0% {
    width: 0%; }
  50% {
    width: 50%; }
  100% {
    width: 100%; } }

@keyframes move__dotted--1 {
  0% {
    top: 0; }
  100% {
    top: 50px; } }

@keyframes move__dotted--2 {
  0% {
    top: 12px; }
  100% {
    top: 62px; } }

@keyframes dotted__for__card {
  0% {
    background-color: #111; }
  100% {
    background-color: #ff4800; } }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /*10px*/ }

body {
  background-color: #000;
  box-sizing: border-box; }

body {
  font-family: "Poppins",sans-serif;
  color: #FFF; }

.start_heading {
  font-size: 7rem;
  font-weight: 700;
  line-height: 55px;
  position: relative; }
  .start_heading::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: -1rem;
    height: 120%;
    width: 3rem;
    background-color: #ff4800;
    z-index: -1; }

.start__text {
  font-size: 1.7rem;
  color: #d6d6d6;
  line-height: 1.5;
  font-weight: 200; }

.font__primary {
  font-size: 2.2rem;
  color: #FFF; }

.about__span {
  font-weight: bold;
  font-size: 1.5rem;
  color: #ff4800;
  display: block;
  text-transform: uppercase; }

.about__section {
  font-size: 3.4rem; }

.about__text--heading {
  font-size: 2rem; }

.Our_Testimonials__details--textb {
  font-size: 1.5rem;
  color: #ff4800; }

.background-for-icon {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 4.5rem;
  height: 4.5rem;
  z-index: -1;
  transition: all 0.8s; }

.make-line-height {
  line-height: 3rem;
  font-style: italic; }

.margin_top_meduim {
  margin-top: 11rem !important; }

.margin_top_small {
  margin-top: 1rem !important; }

.margin_bottom_verysmall {
  margin-bottom: 1rem !important; }

.margin_bottom_small {
  margin-bottom: 2rem !important; }

.margin_bottom_meduim {
  margin-bottom: 4rem !important; }

.margin_bottom_large {
  margin-bottom: 11rem !important; }

.make_right_bottom {
  float: right;
  margin-top: 2.2rem; }

.make--behind {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 37rem; }

.btn {
  position: relative;
  transition: all 0.8s;
  color: #FFF; }
  .btn:link, .btn:visited {
    font-weight: bold;
    text-decoration: none;
    font-size: 1.5rem; }
  .btn--primary {
    margin-left: 3rem; }
    .btn--primary::after {
      opacity: 0;
      content: "";
      position: absolute;
      top: 2rem;
      left: 50%;
      transform: translateX(-50%);
      display: inline-block;
      width: 0%;
      height: 2px;
      background-color: #ff4800;
      transition: all 0.8s; }
    .btn--primary:hover {
      color: #ff4800; }
      .btn--primary:hover::after {
        opacity: 1;
        animation: underline .4s ease;
        animation-fill-mode: both;
        animation-delay: .1s;
        transition: all 0.8s; }
  .btn--secondary {
    padding: 1.3rem 3.2rem;
    background-color: #ff4800;
    border: 2px solid #ff4800;
    font-weight: bold;
    position: relative;
    overflow: hidden; }
    .btn--secondary::after {
      content: "";
      display: inline-block;
      position: absolute;
      height: 0;
      width: 50%;
      background-color: #ff4800;
      left: 0;
      top: 0;
      z-index: -1;
      transition: all 0.8s; }
    .btn--secondary::before {
      content: "";
      display: inline-block;
      position: absolute;
      height: 0;
      width: 50%;
      background-color: #ff4800;
      bottom: 0;
      right: 0;
      z-index: -1;
      transition: all 0.8s; }
    .btn--secondary:hover {
      background-color: transparent; }
    .btn--secondary:hover::after {
      height: 100%; }
    .btn--secondary:hover::before {
      height: 100%; }
  .btn--tertiary {
    color: #848484;
    position: absolute;
    right: 0;
    top: 45%;
    transform: translateY(-50%); }
    .btn--tertiary--icon {
      font-size: 4.5rem;
      color: #ff4800;
      transition: all 0.8s; }

.start__icon {
  width: 14rem;
  position: relative; }
  .start__icon:hover {
    cursor: pointer; }
  .start__icon:hover .btn--tertiary {
    color: #ff4800; }
  .start__icon:hover .btn--tertiary--icon {
    color: #000; }
  .start__icon:hover .background-for-icon {
    background-color: #FFF; }

.header__selectlang {
  background-color: transparent;
  font-size: 1.5rem;
  margin-left: 3rem;
  font-weight: bold;
  color: #FFF;
  outline: none;
  border: 0; }
  .header__selectlang--p {
    background-color: #000;
    margin: 0;
    padding: 0; }

.services__bnt {
  width: 100%;
  padding: 1.5rem;
  border-radius: 100px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  background-color: #111;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.8s;
  cursor: pointer; }
  .services__bnt--href {
    color: #FFF;
    text-decoration: none;
    font-weight: bold; }
  .services__bnt--icon {
    font-size: 3.4rem;
    color: #ff4800; }
  .services__bnt--arrow {
    font-size: 3.4rem;
    color: #848484;
    font-weight: bold;
    position: relative;
    transition: all 0.8s;
    right: 0; }
  .services__bnt:hover {
    background-color: #ff4800; }
  .services__bnt:hover .ser1 {
    background-color: #FFF; }
  .services__bnt:hover .services__bnt--arrow {
    right: -10px; }
  .services__bnt--main {
    background-color: #ff4800; }
    .services__bnt--main .ser1 {
      background-color: #FFF; }
    .services__bnt--main .services__bnt--arrow {
      right: -10px; }

.ser1 {
  background-color: #000;
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  transition: all 0.8s; }

.ser2 {
  flex-grow: 1;
  transition: all 0.8s; }

.card {
  padding: 8rem 3rem;
  width: 100%;
  background-color: #111;
  display: flex;
  flex-flow: column;
  transition: all 0.8s;
  position: relative; }
  .card:hover .icons {
    color: #FFF; }
  .card:hover .dotted {
    background-color: #FFF; }
  .card:hover .dotted::after {
    background-color: #ff4800; }
  .card:hover .dotted::before {
    background-color: #ff4800; }
  .card:hover .logo__dot--white {
    opacity: 1; }
  .card:hover {
    background-color: #ff4800; }

.card-colored {
  background-color: #ff4800; }
  .card-colored .icons {
    color: #FFF; }
  .card-colored .dotted {
    background-color: #FFF; }
  .card-colored .dotted::after {
    background-color: #ff4800; }
  .card-colored .dotted::before {
    background-color: #ff4800; }
  .card-colored .logo__dot--white {
    opacity: 1; }

.ourproject__photos--card {
  width: 31.475rem;
  margin-right: 3rem;
  background-color: #111;
  position: relative;
  transition: all 0.8s;
  float: left; }
  .ourproject__photos--card--photo {
    background-image: url(../../imgs/project2.jpg);
    width: 100%;
    height: 349px;
    filter: grayscale(1);
    transition: inherit; }
  .ourproject__photos--card--text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: 3rem; }
  .ourproject__photos--card--text .start__text {
    font-size: 1.5rem; }
  .ourproject__photos--card a {
    display: block;
    text-decoration: none;
    z-index: 100; }
  .ourproject__photos--card:hover .ourproject__photos--card--photo {
    filter: unset; }
  .ourproject__photos--card:hover .bottom-to-up {
    height: 11.8rem; }

.bottom-to-up {
  transition: all .4s;
  position: absolute;
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  background-color: #ff4800; }

.ourteam__photo {
  display: flex; }

.ourteam__photos--card {
  width: 25.78rem;
  margin-right: 3rem;
  background-color: #000;
  position: relative;
  transition: all 0.8s; }
  .ourteam__photos--card--photo {
    overflow: hidden; }
  .ourteam__photos--card--photo--p {
    background-image: url(../../imgs/team3.jpg);
    background-size: cover;
    transition: all 0.4s !important;
    width: 100%;
    height: 349px;
    position: relative;
    top: 0;
    filter: grayscale(1);
    transition: inherit;
    z-index: 0; }
  .ourteam__photos--card--text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: 3rem;
    z-index: 100; }
  .ourteam__photos--card--text .start__text {
    font-size: 1.5rem; }
  .ourteam__photos--card a {
    display: block;
    text-decoration: none;
    z-index: 100; }
  .ourteam__photos--card:hover .ourteam__photos--card--photo--p {
    filter: unset;
    top: 7rem; }

.dotted {
  background-color: #ff4800;
  position: relative;
  transition: all 0.8s; }
  .dotted--static {
    height: 2px;
    width: 50px; }
    .dotted--static::after {
      content: "";
      display: inline-block;
      height: 2px;
      width: 4px;
      background-color: #111;
      position: absolute;
      right: 8px;
      top: 0;
      transition: all 0.8s; }
    .dotted--static::before {
      content: "";
      display: inline-block;
      height: 2px;
      width: 4px;
      background-color: #111;
      position: absolute;
      right: 20px;
      top: 0;
      transition: all 0.8s; }
  .dotted--dynamic {
    height: 50px;
    width: 2px;
    margin: 0 auto; }
    .dotted--dynamic::after {
      content: "";
      display: inline-block;
      height: 4px;
      width: 2px;
      background-color: #000;
      position: absolute;
      right: 0;
      top: -12px;
      animation: move__dotted--1 4s;
      animation-iteration-count: infinite; }
    .dotted--dynamic::before {
      content: "";
      display: inline-block;
      height: 4px;
      width: 2px;
      background-color: #000;
      position: absolute;
      right: 0;
      top: 0;
      animation: move__dotted--2 4s;
      animation-iteration-count: infinite; }

.icons {
  font-size: 4.2rem;
  color: #ff4800;
  transition: all 0.8s; }

.l-dot {
  position: absolute;
  bottom: 4px;
  right: 4px;
  transition: all 0.8s; }

.logo__dot--white {
  opacity: 0; }

.Our_Testimonials__details--icon {
  background-image: url(../../imgs/Quotation-Marks-128.png);
  background-size: cover;
  position: relative;
  left: -4%;
  color: #FFF;
  font-size: 1.5rem;
  width: 10.5rem;
  height: 7.5rem; }

.ourteam__photos--card--photo--i {
  position: absolute;
  padding-top: 2rem;
  padding-left: 4rem; }

.ourteam-icon {
  color: #ff4800;
  font-size: 3.4rem;
  margin-right: 1rem; }

.main--img {
  filter: grayscale(1);
  transition: all 0.8s; }

.main--img:hover {
  filter: unset; }

.about__imgs {
  position: relative; }

.about__img--1 {
  width: 66rem;
  height: 46rem;
  background-size: cover;
  background-image: url(../../imgs/about1.jpg); }

.about__img--2 {
  position: absolute;
  width: 31rem;
  height: 49rem;
  top: 14%;
  left: -3%;
  background-image: url(../../imgs/about2.jpg);
  background-repeat: no-repeat; }

.Our_Testimonials__photo {
  background-image: url(../../imgs/women.jpg);
  filter: grayscale(1);
  background-size: cover;
  transition: all 0.8s; }
  .Our_Testimonials__photo:hover {
    filter: unset; }

.row {
  margin: 0 auto;
  width: 114rem; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 2.5rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row .col-1-of-2 {
    width: calc((100% - 2.5rem) /2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 2.5rem) /3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 2.5rem) /3) + 2.5rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 2.5rem) /4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 2.5rem) /4)); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 2.5rem) /4) + 2 * 2.5rem); }

header {
  padding: 3rem 8rem;
  width: 134.5rem;
  background-color: #000;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  justify-content: space-between;
  z-index: 100; }

main {
  display: flex;
  flex-flow: column;
  align-items: center; }

.start {
  margin-top: 100px;
  width: 134.5rem;
  height: 57rem;
  padding: 0 8rem;
  display: flex; }
  .start__left {
    flex-grow: 2;
    width: 49%;
    display: flex;
    flex-flow: column;
    align-items: flex-start; }
  .start__rigth {
    margin-top: -5%;
    flex-grow: 1;
    width: 49%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)), url("../../imgs/beard-man.png");
    background-size: cover; }

.market {
  width: 134.5rem;
  height: 57rem;
  padding: 0 8rem; }

.about {
  width: 134.5rem;
  height: 57rem;
  padding: 0 8rem; }

.about__text {
  display: flex; }
  .about__text--icon {
    padding-right: 2rem; }

.serviec {
  width: 134.5rem;
  height: 57rem;
  padding: 0 8rem; }

.ourproject {
  width: 134.5rem;
  height: 57rem;
  padding: 0 8rem; }

.ourproject__photos {
  margin-left: 2rem; }

.Our_Testimonials {
  width: 134.5rem;
  height: 57rem;
  padding: 0 8rem;
  display: flex; }
  .Our_Testimonials__photo {
    width: 50%; }
  .Our_Testimonials__details {
    width: 50%;
    padding-left: 3rem;
    padding-top: 8rem;
    position: relative; }

.OurTeam {
  width: 134.5rem;
  height: 57rem;
  padding: 0 8rem; }
