@mixin clearmix {
    &::after{
        content: "";
        display: table;
        clear: both;
    }
}

@mixin rest__section {
    width: $width-primary;
    height: $heigth-primary;
    padding: 0 $padding-primary;
}