// COLORS
$color-primary: #ff4800;
$color-secondary: #ff4800; 
$color-font: #FFF;
$color-background: #000;
$color-gray-1: #848484;
$color-gray-2: #d6d6d6;

// WIDTH && HEIGTH
$width-primary: 135.5rem;
$heigth-primary: 60rem;

// PADDING
$padding-primary: 8rem;
$padding-secondary: 3rem;
$padding-tb-btn: 1.3rem 3.2rem;

//FONTS
$font__size-priamry: 1.5rem;
$font__size-secondary: 1.7rem;

// TRANSISION
$time: 0.8s;
