@import "abstracts/function";
@import "abstracts/mixin";
@import "abstracts/variables";

@import "base/animations";
@import "base/rset";
@import "base/typography";
@import "base/uitilities";

@import "components/btn";
@import "components/card";
@import "components/dotted";
@import "components/icons";
@import "components/img";

@import "layout/grid";
@import "layout/header";

@import "pages/home.scss";