header{
    padding: $padding-secondary $padding-primary;
    width: $width-primary;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
}