.card{
    padding: $padding-primary $padding-secondary;
    width: 100%;
    background-color: $color-tertiary;
    display: flex;
    flex-flow: column;
    transition: all $time;
    position: relative;

    &:hover .icons{
        color: $color-font;
    }

    &:hover .dotted{
        background-color: $color-font;
    }

    &:hover .dotted::after{
        background-color: $color-secondary;
    }

    &:hover .dotted::before{
        background-color: $color-secondary;
    }

    &:hover .logo__dot--white{
        opacity: 1;    
    }


    &:hover{
        background-color: $color-secondary;
    }
}

.card-colored{
    & .icons{
        color: $color-font;
    }

    & .dotted{
        background-color: $color-font;
    }

    & .dotted::after{
        background-color: $color-secondary;
    }

    & .dotted::before{
        background-color: $color-secondary;
    }

    background-color: $color-secondary;

    & .logo__dot--white{
        opacity: 1;
    }
}

.ourproject__photos--card{
    width: 31.475rem;
    margin-right: 3rem;
    background-color: $color-tertiary;
    position: relative;
    transition: all $time;
    float: left;

    &--photo{
        background-image: url(../../imgs/project2.jpg);
        width: 100%;
        height: 349px;
        filter: grayscale(1);
        transition: inherit;
    }

    &--text{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        padding: 3rem;
    }

    &--text .start__text{
        font-size: $font__size-priamry;
    }

    & a{
        display: block;
        text-decoration: none;
        z-index: 100;
    }

    &:hover &--photo{
        filter: unset;
    }

    &:hover .bottom-to-up{
        height: 11.8rem;
    }
    
    
}

.bottom-to-up{
    transition: all .4s;
    position: absolute;
    width: 100%;
    height: 0; //11.8rem
    bottom: 0;
    left: 0;
    background-color: $color-secondary;
}

.ourteam__photos--card{
    width: 25.78rem;
    margin-right: 3rem;
    background-color: $color-background;
    position: relative;
    transition: all $time;
    float: left;

    &--photo{
        overflow: hidden;
    }

    &--photo--p{
        background-image: url(../../imgs/team3.jpg);
        background-size: cover;
        transition: all $small-time !important;
        width: 100%;
        height: 349px;
        position: relative;
        top: 0;
        filter: grayscale(1);
        transition: inherit;
        z-index: 0;
    }

    &--text{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        padding: 3rem;
        z-index: 100;
    }

    &--text .start__text{
        font-size: $font__size-priamry;
    }

    & a{
        display: block;
        text-decoration: none;
        z-index: 100;
    }

    &:hover &--photo--p{
        filter: unset;
        top: 7rem;
    }
    
}