.icons{
    font-size: $font__size-icon;
    color: $color-primary;
    transition: all $time;
}

.l-dot{
    position: absolute;
    bottom: 4px;
    right: 4px;
    transition: all $time;
}

.logo__dot--white{
    opacity: 0;
}