.background-for-icon{
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    width: 4.5rem;
    height: 4.5rem;
    z-index: -1;
    transition: all $time;
}

.make-line-height{
    line-height: 3rem;
    font-style: italic;
}
.margin_top_meduim{
    margin-top: 11rem !important;
}

.margin_top_small{
    margin-top: 1rem !important;
}

.margin_bottom_verysmall{
    margin-bottom: 1rem !important;
}

.margin_bottom_small{
    margin-bottom: 2rem !important;
}

.margin_bottom_meduim{
    margin-bottom: 4rem !important;
}

.margin_bottom_large{
    margin-bottom: 11rem !important;
}

.make_right_bottom{
    float: right;
    margin-top: 2.2rem;
}

.make--behind{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 37rem;
}