main{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.start{
    margin-top: 100px;
    @include rest__section;
    display: flex;

    &__left{
        flex-grow: 2;
        width: 49%;
        display: flex;
        flex-flow: column;
        align-items: flex-start;
    }

    &__rigth{
        margin-top: -5%;
        flex-grow: 1;
        width: 49%;
        background-image: linear-gradient(to bottom, 
        rgba($color-background,0.1), rgba($color-background, 0.8)),
        url("../../imgs/beard-man.png");
        background-size: cover;
    }
}

.market{
    @include rest__section;
}

.about{
    @include rest__section;
}

.about__text{
    display: flex;

    &--icon{
        padding-right: 2rem;
    }
}

.serviec{
    @include rest__section;
}

.ourproject{
    @include rest__section;
}

.ourproject__photos{
   margin-left: 2rem;
}

.Our_Testimonials{
    @include rest__section;
    display: flex;

    &__photo{
        width: 50%;
    }

    &__details{
        width: 50%;
        padding-left: $padding-secondary;
        padding-top: $padding-primary;
        position: relative;
    }
}

.OurTeam{
    @include rest__section;
}